.root {
  width: 38px;
  height: inherit;
  position: relative;
  z-index: 10;
}

.rootActive {
  z-index: 500;
}

.addButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  background-color: var(--color_white);
  color: rgba(0, 0, 0, 0.502);
  border-radius: 4px;
  box-shadow: 0 0 10px #00000040;
}

.addCategoryBox {
  position: absolute;
  border-radius: 4px;
  top: calc(100% + 8px);
  right: 0;
  padding: 15px 20px;
  z-index: 10;
  background-color: var(--color_white);
  width: 301px;
}

.boxLeft {
  right: initial;
  left: 0;
}

.header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerText {
  font-weight: bold;
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: 45deg;
  height: 30px;
  font-size: 2.8rem;
  color: rgba(0, 0, 0, 0.3);
  background: none;
}

.genderBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 11px;
  margin-bottom: 14px;
}
.genderButton {
  height: 32px;
  border-radius: 4px;
  background: none;
  border: 1px solid var(--color_gray_dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.selectedGenderButton {
  box-shadow: 0 0 10px #00000040;
  border: none;

  path {
    fill: var(--color_blue);
  }
}

.input {
  border-bottom: 1px solid var(--color_gray_dark);
  padding: 10px 0;
  width: 100%;
  margin-bottom: 18px;
}

.addPhoto {
  width: 100%;
  height: 145px;
  object-fit: cover;
  border-radius: 5px;
}

.submitButton {
  width: 100%;
  height: 32px;
  border-radius: 16px;
  background-color: var(--color_blue);
  color: var(--color_white);
  font-weight: bold;
  margin-top: 25px;
}

.bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, .75);
  z-index: 50;
}


