/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100dvh;
  background-color: var(--color_gray);
}

button, input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

/* colors */
:root {
  --color_blue: #0008C1;
  --color_white: #ffffff;
  --color_gray: #E6E6E6;
  --color_gray_dark: rgb(162, 162, 162);
}

/* general styles */
/* .app {} */

.container {
  max-width: 1366px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}