/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* colors */
:root {
  --color_blue: #0008C1;
  --color_white: #ffffff;
  --color_gray: #E6E6E6;
}

/* general styles */
/* .app {} */

.container {
  max-width: 1366px;
  margin: auto;
}